<ion-header mode="ios" translucent="true">
  <ion-toolbar translucent>
    <ion-title class="ion-text-capitalize">
      Articles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar class="search" [(ngModel)]="filterTerm" (ionInput)="search($event)" animated="true"></ion-searchbar>
  
    <ion-card class="" *ngFor="let article of articleList | filter:filterTerm" tappable (click)=articleDetails(article.id)>
      <ion-card-content >
        <ion-item class="item-container" lines="none" >
          <!-- <img class="img-responsive" slot="start" src=".\assets\article-01.png"> -->
          <img src="{{site_url + article.banner_image}}">
          <ion-label>
            <ion-card-subtitle class="ion-text-capitalize ion-text-wrap">{{article.title}}</ion-card-subtitle>
            <p>{{article.content}}</p>
            <span class="postedDate">{{article.created | date: "dd/MMM/yyyy"}}</span>
            <!-- <p>Posted on: {{article.created | date: "dd/MMM/yyyy HH:mm"}}</p> -->
<!-- 
            <ion-row justify-content-center align-items-center>
              <ion-col>
                
                  <span style="vertical-align: 5%; padding-right: 4px;">{{article.number_of_likes}}</span>
                  <ion-icon name="heart"></ion-icon>
                
              </ion-col>
              <ion-col>
                  <span style="vertical-align: 5%; padding-right: 4px;">{{article.number_of_claps}} </span>
                  <ion-icon name="happy"></ion-icon>
              </ion-col>
              <ion-col>
                <span style="vertical-align: 5%; padding-right: 4px;">{{article.number_of_sad}}</span>
                <ion-icon name="sad"></ion-icon>
              </ion-col>
            </ion-row> -->

          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card> 

  
</ion-content>
