<ion-header mode="ios" translucent="true">
  <ion-toolbar translucent>
    <ion-title class="ion-text-capitalize">
      Our Professionals
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true"  class="container">
 
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar animated class="search" [(ngModel)]="filterTerm"></ion-searchbar>

  <ion-card class="" *ngFor="let expert of expertList | filter:filterTerm" tappable (click)=expertProfile(expert.id)>
    <ion-card-content >
      <ion-item class="item-container" lines="none" >
        <ion-avatar slot="start" >
          <img src="{{site_url + expert.avatar}}">
        </ion-avatar>
        <ion-label class="ion-text-wrap">
          <h2 class="ion-text-capitalize">{{expert.name}}</h2>
          <p>{{expert.designation}}</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card> 

  <!-- <ion-item class="" *ngFor="let expert of expertList | filter:filterTerm" tappable (click)=expertProfile(expert.id) lines="none">
    <ion-card class="">
      <ion-card-content>
        <ion-item class="item-container" lines="none" >
          <ion-avatar slot="start" >
            <img src="{{site_url + expert.avatar}}">
          </ion-avatar>
          <ion-label class="ion-text-wrap">
            <h2>{{expert.name}}</h2>
            <p>{{expert.designation}}</p>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-item> -->







</ion-content>
